:root {
    --dark: #23292E;
    --radius: 8px;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #505561, #2C3239, #22252C);
}

.app {
    height: 100%;
}
