.msg-container {
    margin-bottom: 8px;
}

.msg-container.from-me {
    margin-left: auto;
}

.msg {
    display: inline-block;
    border-radius: 8px;
    background: var(--dark, #23292E);
    padding: 8px;
    color: #FFF;
    box-shadow: -2px -2px 4px 0px #4F5460, 2px 2px 4px 0px #22252C;
}